/*===========================================
Colors
===========================================*/
$base-color: #7586A5;
$body-background-color: #FFF;
$primary-color: #0B41FF;
$secondary-color: #002871;

$text-color-1: #1B2C48;
$text-color-2: #263049;
$text-color-3: #263238;
$text-color-4: #24395F;




/*===========================================
Fonts
===========================================*/
$base-font-family: 'Inter', sans-serif;
$primary-font: 'Inter', sans-serif;
$base-font-size: 16px;
$base-line-height: 147%;




